@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YEONGJUPunggiGinsengTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .md-container {
    @apply max-w-screen-md mx-auto bg-white;
  }

  .btn-purple {
    @apply font-semibold px-4 py-2 rounded-full bg-d-purple text-white hover:opacity-70;
  }
  .btn-purple-reverse {
    @apply font-semibold px-4 py-2 rounded-full text-d-purple border-2 border-d-purple hover:opacity-70;
  }
  .btn-green {
    @apply font-semibold px-4 py-2 rounded-full bg-d-green text-white hover:opacity-70;
  }
  .btn-green-reverse {
    @apply font-semibold px-4 py-2 rounded-full text-d-green border-2 border-d-green hover:opacity-70;
  }
}

body {
  background: #be93c5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #7bc6cc,
    #be93c5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #7bc6cc,
    #be93c5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
